<aside class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <section class="sidebar-section">
            <h3>Old Testament</h3>
            <details>
                <summary>The Law (5)</summary>
                <ul>
                    <li><a href="{{ '/old-testament/01-genesis/' | relative_url }}">Genesis</a></li>
                    <li><a href="{{ '/old-testament/02-exodus/' | relative_url }}">Exodus</a></li>
                    <li><a href="{{ '/old-testament/03-leviticus/' | relative_url }}">Leviticus</a></li>
                    <li><a href="{{ '/old-testament/04-numbers/' | relative_url }}">Numbers</a></li>
                    <li><a href="{{ '/old-testament/05-deuteronomy/' | relative_url }}">Deuteronomy</a></li>
                </ul>
            </details>

            <details>
                <summary>Historical Books (12)</summary>
                <ul>
                    <li><a href="{{ '/old-testament/06-joshua/' | relative_url }}">Joshua</a></li>
                    <li><a href="{{ '/old-testament/07-judges/' | relative_url }}">Judges</a></li>
                    <li><a href="{{ '/old-testament/08-ruth/' | relative_url }}">Ruth</a></li>
                    <li><a href="{{ '/old-testament/09-1-samuel/' | relative_url }}">1 Samuel</a></li>
                    <li><a href="{{ '/old-testament/10-2-samuel/' | relative_url }}">2 Samuel</a></li>
                    <li><a href="{{ '/old-testament/11-1-kings/' | relative_url }}">1 Kings</a></li>
                    <li><a href="{{ '/old-testament/12-2-kings/' | relative_url }}">2 Kings</a></li>
                    <li><a href="{{ '/old-testament/13-1-chronicles/' | relative_url }}">1 Chronicles</a></li>
                    <li><a href="{{ '/old-testament/14-2-chronicles/' | relative_url }}">2 Chronicles</a></li>
                    <li><a href="{{ '/old-testament/15-ezra/' | relative_url }}">Ezra</a></li>
                    <li><a href="{{ '/old-testament/16-nehemiah/' | relative_url }}">Nehemiah</a></li>
                    <li><a href="{{ '/old-testament/17-esther/' | relative_url }}">Esther</a></li>
                </ul>
            </details>

            <details>
                <summary>Wisdom Literature (5)</summary>
                <ul>
                    <li><a href="{{ '/old-testament/18-job/' | relative_url }}">Job</a></li>
                    <li><a href="{{ '/old-testament/19-psalms/' | relative_url }}">Psalms</a></li>
                    <li><a href="{{ '/old-testament/20-proverbs/' | relative_url }}">Proverbs</a></li>
                    <li><a href="{{ '/old-testament/21-ecclesiastes/' | relative_url }}">Ecclesiastes</a></li>
                    <li><a href="{{ '/old-testament/22-song-of-solomon/' | relative_url }}">Song of Solomon</a></li>
                </ul>
            </details>

            <details>
                <summary>Major Prophets (5)</summary>
                <ul>
                    <li><a href="{{ '/old-testament/23-isaiah/' | relative_url }}">Isaiah</a></li>
                    <li><a href="{{ '/old-testament/24-jeremiah/' | relative_url }}">Jeremiah</a></li>
                    <li><a href="{{ '/old-testament/25-lamentations/' | relative_url }}">Lamentations</a></li>
                    <li><a href="{{ '/old-testament/26-ezekiel/' | relative_url }}">Ezekiel</a></li>
                    <li><a href="{{ '/old-testament/27-daniel/' | relative_url }}">Daniel</a></li>
                </ul>
            </details>

            <details>
                <summary>Minor Prophets (12)</summary>
                <ul>
                    <li><a href="{{ '/old-testament/28-hosea/' | relative_url }}">Hosea</a></li>
                    <li><a href="{{ '/old-testament/29-joel/' | relative_url }}">Joel</a></li>
                    <li><a href="{{ '/old-testament/30-amos/' | relative_url }}">Amos</a></li>
                    <li><a href="{{ '/old-testament/31-obadiah/' | relative_url }}">Obadiah</a></li>
                    <li><a href="{{ '/old-testament/32-jonah/' | relative_url }}">Jonah</a></li>
                    <li><a href="{{ '/old-testament/33-micah/' | relative_url }}">Micah</a></li>
                    <li><a href="{{ '/old-testament/34-nahum/' | relative_url }}">Nahum</a></li>
                    <li><a href="{{ '/old-testament/35-habakkuk/' | relative_url }}">Habakkuk</a></li>
                    <li><a href="{{ '/old-testament/36-zephaniah/' | relative_url }}">Zephaniah</a></li>
                    <li><a href="{{ '/old-testament/37-haggai/' | relative_url }}">Haggai</a></li>
                    <li><a href="{{ '/old-testament/38-zechariah/' | relative_url }}">Zechariah</a></li>
                    <li><a href="{{ '/old-testament/39-malachi/' | relative_url }}">Malachi</a></li>
                </ul>
            </details>
        </section>

        <section class="sidebar-section">
            <h3>New Testament</h3>
            <details>
                <summary>Gospels (4)</summary>
                <ul>
                    <li><a href="{{ '/new-testament/01-matthew/' | relative_url }}">Matthew</a></li>
                    <li><a href="{{ '/new-testament/02-mark/' | relative_url }}">Mark</a></li>
                    <li><a href="{{ '/new-testament/03-luke/' | relative_url }}">Luke</a></li>
                    <li><a href="{{ '/new-testament/04-john/' | relative_url }}">John</a></li>
                </ul>
            </details>

            <details>
                <summary>History (1)</summary>
                <ul>
                    <li><a href="{{ '/new-testament/05-acts/' | relative_url }}">Acts</a></li>
                </ul>
            </details>

            <details>
                <summary>Paul's Letters (13)</summary>
                <ul>
                    <li><a href="{{ '/new-testament/06-romans/' | relative_url }}">Romans</a></li>
                    <li><a href="{{ '/new-testament/07-1-corinthians/' | relative_url }}">1 Corinthians</a></li>
                    <li><a href="{{ '/new-testament/08-2-corinthians/' | relative_url }}">2 Corinthians</a></li>
                    <li><a href="{{ '/new-testament/09-galatians/' | relative_url }}">Galatians</a></li>
                    <li><a href="{{ '/new-testament/10-ephesians/' | relative_url }}">Ephesians</a></li>
                    <li><a href="{{ '/new-testament/11-philippians/' | relative_url }}">Philippians</a></li>
                    <li><a href="{{ '/new-testament/12-colossians/' | relative_url }}">Colossians</a></li>
                    <li><a href="{{ '/new-testament/13-1-thessalonians/' | relative_url }}">1 Thessalonians</a></li>
                    <li><a href="{{ '/new-testament/14-2-thessalonians/' | relative_url }}">2 Thessalonians</a></li>
                    <li><a href="{{ '/new-testament/15-1-timothy/' | relative_url }}">1 Timothy</a></li>
                    <li><a href="{{ '/new-testament/16-2-timothy/' | relative_url }}">2 Timothy</a></li>
                    <li><a href="{{ '/new-testament/17-titus/' | relative_url }}">Titus</a></li>
                    <li><a href="{{ '/new-testament/18-philemon/' | relative_url }}">Philemon</a></li>
                </ul>
            </details>

            <details>
                <summary>General Letters (8)</summary>
                <ul>
                    <li><a href="{{ '/new-testament/19-hebrews/' | relative_url }}">Hebrews</a></li>
                    <li><a href="{{ '/new-testament/20-james/' | relative_url }}">James</a></li>
                    <li><a href="{{ '/new-testament/21-1-peter/' | relative_url }}">1 Peter</a></li>
                    <li><a href="{{ '/new-testament/22-2-peter/' | relative_url }}">2 Peter</a></li>
                    <li><a href="{{ '/new-testament/23-1-john/' | relative_url }}">1 John</a></li>
                    <li><a href="{{ '/new-testament/24-2-john/' | relative_url }}">2 John</a></li>
                    <li><a href="{{ '/new-testament/25-3-john/' | relative_url }}">3 John</a></li>
                    <li><a href="{{ '/new-testament/26-jude/' | relative_url }}">Jude</a></li>
                </ul>
            </details>

            <details>
                <summary>Prophecy (1)</summary>
                <ul>
                    <li><a href="{{ '/new-testament/27-revelation/' | relative_url }}">Revelation</a></li>
                </ul>
            </details>
        </section>

        <section class="sidebar-section">
            <h3>Resources</h3>
            <ul>
                <li><a href="{{ '/quick-reference/' | relative_url }}">Quick Reference</a></li>
                <li><a href="{{ '/indexes/thematic-index/' | relative_url }}">Thematic Index</a></li>
                <li><a href="{{ '/indexes/character-index/' | relative_url }}">Character Index</a></li>
                <li><a href="{{ '/timeline/' | relative_url }}">Timeline</a></li>
                <li><a href="{{ '/resources/maps/' | relative_url }}">Maps & Geography</a></li>
            </ul>
        </section>
    </div>
</aside>
